<div class="d-grid gap-2 container mt-4">
  <button class="btn btn-warning" type="button"><a href="account/home" style="color: #fff;" class="logout">Home</a></button>
  <button class="btn btn-primary" type="button"><a href="account/login" style="color: #fff;" class="logout">Login</a></button>
</div>
<div class="list-group mt-5 container">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    User Information.
  </a>
  <a href="#" class="list-group-item list-group-item-action">Email: {{data.email}}</a>
  <a href="#" class="list-group-item list-group-item-action">Username: {{data.username}}</a>
  <a href="#" class="list-group-item list-group-item-action">Password: {{data.password}}</a>
</div>