{{#if err}}
 <div class="alert alert-danger alert-dismissible bg-danger text-white fade show border-danger border-0" role="alert">
  <strong>You have entered an invalid username or password</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<body style="background-color: #3598dc;">
    

<div class="login-form">
    <form action="/login" method="post" id="loginform">
		<h2 style="color: black;">Login Form</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>        
        <div class="form-group">
			<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
    </form>
</div>
</body>